/*

# CSS contents ###################
* 1 Reset defaults
* 2 Layout
* 3 Nav
* 4 Headings
* 5 Lists
* 6 Images
* 7 Links
* 8 Forms
* 9 Tables
* 10 Typography 
* 11 Other
*12 Media queries
*/


/* 
# Colour reference ###################
Patriots colors: #002244, #c0001d, #b5c3cd;
Bruins colors: #231f20, #ffc422, #ffffff;
Red Sox colors: #c62033, #ffffff, #002244;
Celtics colors: #008248, #ba9653, #ffffff;
*/


 /* Layout */
 body {
 	font-size: 20px;
 }

 header {
 	background: url("img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: fixed;
 	margin-left: 0;
 	margin-right: 0;
 }

section {
	padding-top: 10%;
	padding-bottom: 10%;
	background: #f3f3f3;
}

section h1 {
	font-family: "Orbitron", Arial;
	font-weight: 900;
	text-transform: uppercase;
}

footer {
	font-size: 14px;
	text-align: center;
	padding: 2%;
}

#patriots {
	color: #002244;
	
}

#patriots .bg-color {
	background: #c0001d;
	padding: 5% 0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); 
	/* (top-left x y, top-right x y, bottom-right x y, bottom-left x y) */
}

#bruins {
	color: #231f20;
}

#bruins .bg-color {
	background: #ffc422;
	padding: 5% 0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

#redsox {
	color: #c62033;
}

#redsox .bg-color {
	background: #002244;
	padding: 5% 0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

#celtics {
	color: #008248;
}

#celtics .bg-color {
	background: #ba9653;
	padding: 5% 0;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}




/* Nav */


/* Headings */
.jumbotron {
	border-radius: none;
	background: rgba(0, 35, 70, .7);
	padding-top: 15%;
	padding-bottom: 25%;
	margin-bottom: 0;
}

.intro-text {
	color: white;
	text-align: center;
	padding: 5%;
}

.intro-text h1 {
	font-size: 5em;
	font-family: "Orbitron";
}

.intro-text h2 {
	font-size: 2em;
}


/* List */
li 	{
	list-style: none;
}

/* Images */
.img-link {
	height: 100px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	height: 250px;
	width: auto;
	position: relative;
	z-index: -1;
	padding-bottom: 5%;
	padding-left: 5%;
	margin-right: 0;
}

.star {
	margin-top: -200px;
	position: relative;
	z-index: 1;
}

/* Links */


/* Forms */


/* Tables */


/* Typography */


/* Other */
.hide-item {			/* Sets opacity to 0 fro scroll effect */
	opacity: 0;
}
/* Media queries */

